fastapi
uvicorn
python-jose[cryptography]
google-cloud-firestore
google-generativeai
openai
pydantic
pydantic-settings
email-validator
requests
python-multipart
passlib[bcrypt]
firebase-admin
chromadb
sentence-transformers
langchain
langgraph
langchain-community
langchain-google-genai

